.popular-container-area{
    display: flex;
    height: 100%;

}
.popular-container-area >div:nth-child(1){
    width:70%;  
}
.text-1{
    border: 2px solid whitesmoke;
    border-radius:5px;
    box-shadow:3px 3px 20px ;
    margin: 20px 6px;
    padding: 15px 5px;
    background-color: white;     
}
.popular-title{
    font-size: 30px;
    font-weight:700;
    padding:7px 5px; 
}
.popular-description{
    width: 550px;
    padding:7px 5px; 
}

.text-2 {
    border-radius:5px;
    box-shadow:3px 3px 20px ;
    margin: 20px 6px;
    padding: 20px 5px;
    background-color: white;
}
.text-2 li{
   padding-bottom: 5px;
}

.text-3{
    border-radius:5px;
    box-shadow:3px 3px 20px ;
    margin: 20px 6px;
    padding: 20px 7px;
    background-color: white;
}
.text-3-description{
   border: 2px solid whitesmoke;
    border-radius:5px;
    margin: 7px 3px;
    background-color: white;
}
.btn{
    height: 50px;
    width: 160px;
   font-size: 20px;
   color: white;
   border-radius: 8px;
   border: none;
   margin-left: 10px;
   box-shadow: 5px 5px 8px gray;
   
}
.popular-img img{
    height: 100%;
    width: 100%;
    margin: 0 7px;
}
