
.grid-container{
    gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
    grid-auto-flow: dense;
    height:600px;
    border: 2px solid green;
}

.row-1{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    border: 3px solid red;
}

.row-1 >div{
    width: 50%;
    
}
.row-1 .Rectangle-5{
    width: 50%;
}
.row-1 .Rectangle-8{
    width: 50%;
}