.simple-container-area{
    display: flex;
    height: 100%;
    /* border: 2px solid green; */

}
.simple-container{
    /* border: 3px solid black; */
    margin-right: 20px;
}
.simple-container-area >div:nth-child(1){
    width:60%;  
}
.simple-text-1{
    border: 2px whitesmoke;
    border-radius:5px;
    box-shadow:3px 3px 20px ;
    margin: 30px 8px;
    padding:30px 10px;
    background-color: white;     
}
.simple-title{
    font-size: 30px;
    font-weight:700;
    padding:10px 5px; 
}
.simple-description{
    width: 550px;
    padding:7px 5px; 
}

.simple-text-2{
    border-radius:5px;
    box-shadow:3px 3px 20px ;
    margin: 30px 10px;
    padding: 60px 10px;
    background-color: white;
}
.simple-text-2 li{
   padding-bottom: 5px;
}

.simple-vdo img{
    height: 100%;
    width: 100%;
    margin: 0 7px;
}
