*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", serif;
}

header{
    background-color:#feefe1 ;
    height:950px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img{
    margin-left:80px;
   
}
 
 .container-title .title{
    margin-left:30px;
    font-size: 30px;
    font-weight:700;
    margin-left: 50px;
}

nav{
    display:flex;
    justify-content: space-between;
    padding: 30px 5px;
}

ul{
    display: flex;
}

ul li{
  margin-right: 20px;
list-style-type: none;
}


ul li a{
   text-decoration: none;
   font-size:18px;
   color: #424242;
}

.banner-img{
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    height:600px;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.banner-title{
    text-align: center; 
}
.banner-discription{
     text-align: center;
     width: 500px;
     margin: 0 auto;
     margin-bottom: 170px;
}

.input-area{
    height:20%;
    width:80%;
   background-color: burlywood;
   opacity: .70;
   margin: 0 auto;
   align-content: center;
   display: flex;
}